doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(class="navigacijska-traka")
      a(href="/")
        h1 Ankete 
      div(class="navigacija-linkovi")
        button
          a(href="/ankete") Prikazi sve ankete
    div(class="content")
      block content
 